@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 50px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #1f2937;
  height: 100px;
  color: white;
}

.header {
  justify-content: space-between;
}

.footer {
  justify-content: center;
}

.section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 32px;
}

.section-one .section-content h2 {
  font-size: 48px;
  margin: 0;
  color: #f9faf8;
}

.section-one .section-content p {
  color: #e5e7eb;
}
.section-one {
  background-color: #1f2937;
  color: white;
  flex-wrap: wrap;
}

.section-two {
  flex-direction: column;
}

.section-three {
  background-color: #e5e7eb;
  color: #1f2937;
}

.section-content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.column {
  flex-flow: column;
}

.row {
  flex-flow: row;
}

.section-one .section-content {
  max-width: 40%;
}

.section-three .section-content h2 {
  text-align: center;
}

.section-three .section-content p {
  text-align: left;
  font-style: italic;
  font-size: 24px;
}

.form-link {
  background-color: rgb(43, 128, 226);
  width: 150px;
  height: 75px;
  color: white;
  border: 0;
  border-radius: 50px;
  margin-top: 20px;
}

.form-link:hover {
  cursor: pointer;
  background-color: rgb(20, 69, 124);
  transition: 150ms linear;
}

.section-two .section-content .game-thumbnail {
  display: flex;
  flex-flow: column;
  flex-basis: 15%;
}

.section-three .section-content .game-thumbnail {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 200px;
  font-size: 20px;
}

.section-two .section-content {
  gap: 5%;
  flex-wrap: wrap;
}

.section-four .section-content {
  display: flex;
  align-items: center;
  gap: 100px;
}
