@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 50px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  flex-basis: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #1f2937;
  height: 100px;
  color: white;
}

.header {
  justify-content: space-between;
}

.footer {
  justify-content: center;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 16px;
}

.section h2 {
  font-size: 48px;
  margin: 20px;
}

.section-one {
  background-color: #1f2937;
  color: white;
}

.section-one-image {
  display: flex;
  flex-wrap: wrap;
}

.section-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.form-link {
  background-color: rgb(43, 128, 226);
  width: 150px;
  height: 75px;
  color: white;
  border: 0;
  border-radius: 50px;
  margin-top: 20px;
}

.form-link:hover {
  cursor: pointer;
  background-color: rgb(20, 69, 124);
  transition: 150ms linear;
}
